# Pin dependancies that might cause breakage
Werkzeug
SQLAlchemy

# Dependencies for all lab
Flask
Flask-SQLAlchemy
requests

# Testing dependencies
# nose
# pinocchio
pytest
coverage
factory-boy
pylint
pytest-clarity
pytest-cov

# Behavior Driven Development dependencies
behave
selenium
webdriver-manager
compare

